<a href="https://colab.research.google.com/github/im-hjk/dankook_dacon/blob/master/regression_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 로지스틱 회귀귀귀

## 라이브러리 import 및 설정

In [ ]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from matplotlib import pyplot as plt
from matplotlib import rcParams
import numpy as np
from pathlib import Path
import io
import pandas as pd
import seaborn as sns
from tqdm.notebook import tqdm
import warnings

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

## 학습데이터 로드

In [ ]:
data_dir = Path('/content/drive/My Drive/Colab Notebooks/input')
trn_file = data_dir / 'feature.csv'
seed = 42

In [ ]:
trn = pd.read_csv(trn_file, index_col=0)
print(trn.shape)
trn.head()

(320000, 20)

,z,redshift,dered_u,dered_g,dered_r,dered_i,dered_z,nObserve,airmass_u,class,d_dered_u,d_dered_g,d_dered_r,d_dered_i,d_dered_z,d_dered_ig,d_dered_zg,d_dered_rz,d_dered_iz,d_obs_det
id,,,,,,,,,,,,,,,,,,,,
0,16.9396,-8.1086e-05,23.1243,20.2578,18.9551,17.6321,16.9089,2.9444,1.1898,0,-0.1397,-0.0790,-0.0544,-0.0403,-0.0307,-2.6257,-3.3488,2.0462,0.7232,-15.0556
1,13.1689,4.5061e-03,14.9664,14.0045,13.4114,13.2363,13.1347,0.6931,1.2533,1,-0.0857,-0.0574,-0.0410,-0.0322,-0.0343,-0.7683,-0.8698,0.2767,0.1016,-0.3069
2,15.3500,4.7198e-04,16.6076,15.6866,15.4400,15.3217,15.2961,1.0986,1.0225,0,-0.1787,-0.1388,-0.0963,-0.0718,-0.0540,-0.3649,-0.3905,0.1440,0.0257,-0.9014
3,19.6346,5.8143e-06,25.3536,20.9947,20.0873,19.7947,19.5552,1.6094,1.2054,0,-0.3070,-0.1941,-0.1339,-0.1003,-0.0795,-1.2000,-1.4395,0.5321,0.2395,-1.3906
4,17.9826,-3.3247e-05,23.7714,20.4338,18.8630,18.1903,17.8759,2.6391,1.1939,0,-0.6820,-0.2653,-0.1794,-0.1339,-0.1067,-2.2436,-2.5579,0.9871,0.3144,-9.3609

## scikit-learn을 이용한 로지스틱회귀

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss, roc_auc_score

X = trn.drop('class', axis=1)
y_orig = trn[:]['class']

test = 

y = list()
lr = list()
p = list()


#여기서 하는건 종속변수의 값이 3가지가 있으니, 이를 다 학습하기에는 무리가 있다고 판단, 그러니 3번을 나누어서 학습하는데,
#매번 정해진 클래스의 값(0,1,2)를 참(1)로, 나머지 값은 거짓(0)으로 하면서 각각을 학습한다
#결국 최종 결과를 얻기 위해선 3번의 질문 (0일 확률은? / 1일 확률은? / 2일 확률은?) 을 하고, 그중 가장 높은 확률을 가진 것을 선택하는 식으로 해야할 듯

for tkt in range(0,3) :
  y.append( (y_orig==tkt).astype(np.int64) )
  np.unique(y[tkt])
  lr.append( LogisticRegression() )
  lr[tkt].fit(X,y[tkt]) #학습 중
  p.append( lr[tkt].predict_proba(X)[:,1])  # 각각의 클레스에 포함될 확률로

In [ ]:
for i in range(0,3) :
  lr[i].coef_, lr[i].intercept_

In [ ]:
log_loss(y[1], p[1])

0.3387876064457984

In [ ]:
roc_auc_score(y[1], p[1])

0.8427336047363922